# CPU info
allow platform_app sysfs_cpuinfo:file rw_file_perms;

# System info
allow platform_app sysfs_battery_supply:dir search;
allow platform_app sysfs_battery_supply:file { getattr open read };
allow platform_app sysfs_thermal_type:dir search;
allow platform_app sysfs_thermal_type:file { getattr open read };
allow platform_app sysfs_kgsl:dir search;
allow platform_app sysfs_kgsl:file { getattr open read };
