# Allow system_server for usb and smart charging nodes
allow system_server sysfs_battery_supply:file { getattr open read write };
allow system_server sysfs_battery_supply:file r_file_perms;
allow system_server sysfs_thermal_type:file w_file_perms;
allow system_server sysfs_thermal_type:file { getattr open read write };
allow system_server sysfs_thermal_type:file r_file_perms;

get_prop(system_server, vendor_camera_prop)

r_dir_file(system_server, sysfs_battery_supply);
r_dir_file(system_server, sysfs_thermal_type);

r_dir_file(system_server, sysfs_kgsl);
r_dir_file(system_server, sysfs_cpuinfo);
