on init
    # Update fastcharge firmware
    chown system system /proc/fastchg_fw_update
    write /proc/fastchg_fw_update 1

    # Disable vendor overlay
    mount none /vendor/lost+found /vendor/overlay bind
