service fingerprint-inscreen-1-0.RMX2121 /system/bin/hw/lineage.biometrics.fingerprint.inscreen@1.0-service.RMX2121
    interface vendor.lineage.biometrics.fingerprint.inscreen@1.0::IFingerprintInscreen default
    class hal
    user system
    group system
    shutdown critical

on boot
    chmod 0660 /sys/kernel/oppo_display/oppo_notify_fppress
    chmod 0660 /sys/kernel/oppo_display/dimlayer_bl_en
    chmod 0660 /sys/kernel/oppo_display/aod_light_mode_set
    chmod 0660 /sys/kernel/oppo_display/panel_pwr

    chown system system /sys/kernel/oppo_display/oppo_notify_fppress
    chown system system /sys/kernel/oppo_display/dimlayer_bl_en
    chown system system /sys/kernel/oppo_display/aod_light_mode_set
    chown system system /sys/kernel/oppo_display/panel_pwr
